<nav class="primary" >
  <div class="container">
      <div class="nav-wrapper">
          <a routerlink="/" class="brand-logo">
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="col s2">
                  <img [src]="$root+'/img/heart.svg'" 
                              style="width: 50px; height: 50px; display: inline;padding-top: 6px"/>
                </div>
                <div class="col s10">
                   <span style="margin-left: 8px">DMU Clinic</span>  
                </div>
              </div>
            </div> 
           
            
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngFor="let item of menuItems"><a [href]="item.href">{{item.text}}</a></li>
          </ul>
      </div>
  </div>
  <div>
    <span href="#" data-target="slide-out" class="sidenav-trigger" style="cursor: pointer">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </span>
  </div>
  <div class="container ">
    <span class='right hide-on-large-only '>
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
    </span>
  </div>

</nav>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="item.href" *ngFor="let item of menuItems">{{item.text}}</button>
</mat-menu>
