<div class="progress" [class.hide]="!loading" >
  <div class="indeterminate"></div>
</div>
<section>
  <h5>Change password</h5>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >
    <mat-form-field *ngIf="!hideCurrentP">
      <input matInput placeholder="Current password" (focusout)="checkPassword()"  type="password" formControlName="current_password"> 
      <mat-error *ngIf="current_password.errors?.required && current_password.touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="current_password.errors?.invalidPassword && current_password.touched">
        This is invalid password
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New password"  type="password" formControlName="new_password"> 
      <mat-error *ngIf="new_password.errors?.required && new_password.touched">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password"  type="password" formControlName="confirm_password"> 
      <mat-error *ngIf="confirm_password.errors?.required && confirm_password.touched">
        This field is required
      </mat-error>
    
      <mat-error *ngIf="confirm_password.errors?.confimation && confirm_password.touched">
        Password don't match 
      </mat-error>
    </mat-form-field>
    <button mat-button [disabled]='changePasswordForm.invalid' type="submit" color="primary" class="right">CHANGE</button>
  </form>

</section>
