<div class="row" style="width: 100%">
  <h5 style="display: inline">Eba Alemayehu Tufa</h5>
  <strong class="right">TER_0075_09</strong><br>
  <strong class="secondery">Software engineering department</strong><br>

    <div class="col m6 l6 s12">
      <section>
        <strong>Borned at </strong><span>April 14, 1999</span><br>
        <strong>Dorm </strong> <span>B 619 D 46</span><br>
        <strong>Registerd at </strong><span>Jun 13, 2001</span><br>
      </section>
    </div>
    <div class="col m6 l6 s12">
      <app-recent-visits></app-recent-visits>
    </div>
  
  
</div>