<div class="row" style="width: 100%">
  <h5 style="display: inline">{{(patient)?.first_name}} {{(patient)?.father_name}} {{(patient)?.grand_father_name}}</h5>
  <strong class="right">{{(patient)?.reg_id}}</strong><br>
  <strong class="secondery">Software engineering {{(patient)?.department.name}}</strong><br>

    <div class="col m6 l6 s12">
      <section>
        <strong>Borned at </strong><span>{{(patient)?.birth_date}}</span><br>
        <strong>Dorm </strong> <span>B {{(patient)?.dorm_block}} D {{dorm_room_number}}</span><br>
        <strong>Registerd at </strong><span>{{(patient)?.created_at}}</span><br>
      </section>
    </div>
    <div class="col m6 l6 s12">
      <app-recent-visits [patient]="patient"></app-recent-visits>
    </div>
  
  
</div>