<section>
 <div class="row">
   <div class="col m4 l3 s12">
     <mat-card id="queue">
       <app-queue-min [loadTriggr]="load"></app-queue-min>
      </mat-card>
   </div>
   <div class="col m8 l9 s12">
     <div class="center patinet-search" [class.no-search]="noSearch">
       <h3 *ngIf="noSearch">Patient search</h3>
       <div class="container search">
         <app-patient-search (patient)="onSearch($event)"></app-patient-search>
        </div>
     </div>
     <div id="show-area">
        <mat-card *ngIf="!noSearch">
          <mat-icon class="right" mat-icon-button [matMenuTriggerFor]="appMenu"style="cursor: pointer;">more_vert</mat-icon>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="edit()">
              <mat-icon>edit</mat-icon>
              <span>Edit</span> 
            </button> 
            <button mat-menu-item (click)="delete()">
                <mat-icon color="red">delete</mat-icon>
                <span>Delete</span> 
              </button> 
          </mat-menu> 
          <app-patinet-view [patient]="patient"></app-patinet-view>
          <br>
          <button mat-button (click)="queue()" [disabled]='isQueued' class="right primary" style="color:white">Queue</button>
          <button mat-button (click)="dequeue()" [disabled]='!isQueued' class="right danger-text">Dequeue</button>
        </mat-card>
     </div>
     
   </div>
 </div>
</section>