<div class="progress" [class.hide]="!loading" >
  <div class="indeterminate"></div>
</div>
<div class="form-conatiner" [class.form-loading]="loading">
  <header class="container">
      <h5>Create User </h5> 
  </header>
  <div layout layout-fill ng-app="context-menu">
    
  <form id="registartionForm" class="container" (ngSubmit)="onSubmit()" [formGroup]='regForm' > 
    <div class="row">
      <mat-form-field class="col m12">
        <input matInput formControlName="worker_id" placeholder="worker_id" class="browser-default"> 
        <mat-error *ngIf="worker_id.invalid && worker_id.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field  class="col m6">
        <input matInput formControlName="first_name" placeholder="First Name">
       
      </mat-form-field>

      <mat-form-field class="col m6">
        <input matInput formControlName='father_name' placeholder="Father Name">
        <mat-error *ngIf="father_name.invalid && father_name.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m12">
        <input matInput formControlName="grand_father_name" placeholder="Grand Father Name"> 
        <mat-error *ngIf="grand_father_name.invlaid && grand_father_name.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m6">
        <mat-select formControlName="gender" placeholder="Gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="gender.invlaid && gender.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m6">
        <mat-select  formControlName="role_id" placeholder="Role">
          <mat-option *ngFor="let _role of data.roles" [value]="_role.id">
            {{_role.name}}
          </mat-option>
        </mat-select>
       
        <mat-error *ngIf="role_id.invlaid && role_id.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m12">
        <input matInput formControlName="email" placeholder="email"> 
        <mat-error *ngIf="email.errors?.required && email.touched">
          This field is required
        </mat-error>
        <mat-error *ngIf="email.errors?.email && email.touched">
          You have provided invaild email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m12">
        <input matInput formControlName="phone" placeholder="phone" > 
        <mat-error *ngIf="phone.invalid && phone.touched">
          This field is required
        </mat-error>
      </mat-form-field> 

      <div class="col m12">
        <button type="submit" [disabled]='regForm.invalid' class="weves-effect weves-light btn blue white-text right">Submit</button>
      </div>
    </div>
  </form>
</div>
