<div class="progress" [class.hide]="!loading" >
  <div class="indeterminate"></div>
</div>
<div class="form-conatiner" [class.form-loading]="loading">
  <div class="row">

    <mat-icon 
    matDialogClose 
    class="right secondery" 
    style="margin-right: 2.5em;cursor: pointer">close</mat-icon> 

    
    <header class="container">
        <h5>New patient</h5> 
    </header>
  </div>
  
  <div layout layout-fill ng-app="context-menu">
    
  <form id="registartionForm" class="container" (ngSubmit)="onSubmit()" [formGroup]='regForm' > 
    <div class="row">
      <mat-form-field class="col m4">
        <input matInput mat-autofocus formControlName="reg_id" placeholder="Registral id" class="browser-default uppercase"> 
        <mat-error *ngIf="reg_id.invalid && reg_id.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m5">
        <input matInput formControlName="department"  
        [matAutocomplete]="auto" 
        (blur) = "validateDepartemet()"
        placeholder="Department" 
        class="browser-default capitalize" > 
        <mat-error *ngIf="department.errors?.required && department.touched">
          This field is required
        </mat-error>
        <mat-error *ngIf="department.errors?.invalidDep && department.touched">
          There is no such a department
        </mat-error>
      </mat-form-field>
        <!-- DEPARTMENT AUTO COMPLET -->
        <mat-autocomplete #auto="matAutocomplete" style="">
          <mat-option *ngFor="let department of autoDepartments" [value]="department.name">
            {{department.name}}
          </mat-option>
        </mat-autocomplete>

      <mat-form-field class="col m3">
        <input matInput formControlName="accadamic_year" placeholder="Batch" class="browser-default"> 
        <mat-error *ngIf="accadamic_year.invalid && accadamic_year.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field  class="col m6">
        <input matInput formControlName="first_name" placeholder="First Name" class='capitalize'>
       
      </mat-form-field>

      <mat-form-field class="col m6">
        <input matInput formControlName='father_name' placeholder="Father Name" class='capitalize'>
        <mat-error *ngIf="father_name.invalid && father_name.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m12">
        <input matInput formControlName="grand_father_name" placeholder="Grand Father Name" class='capitalize'> 
        <mat-error *ngIf="grand_father_name.invlaid && grand_father_name.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m4">
        <mat-select formControlName="gender" placeholder="Gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="gender.invlaid && gender.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m4">
        <input matInput formControlName="dorm_block" placeholder="Block" class="browser-default"> 
        <mat-error *ngIf="dorm_block.invalid && dorm_block.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m4">
        <input matInput formControlName="dorm_room_number" placeholder="Dorm" class="browser-default"> 
        <mat-error *ngIf="dorm_room_number.invalid && dorm_room_number.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col m12">
        <input matInput formControlName="birth_date" placeholder="Birth date" [matDatepicker]="birthDate"> 
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
        <mat-error *ngIf="birth_date.invalid && birth_date.touched">
          This field is required
        </mat-error>
      </mat-form-field> 

      <mat-form-field class="col m12">
        <input matInput formControlName="phone" placeholder="phone" > 
        <mat-error *ngIf="phone.invalid && phone.touched">
          This field is required
        </mat-error>
      </mat-form-field> 

      <div class="col m12">
        <button type="submit" [disabled]='regForm.invalid' class="weves-effect weves-light btn blue white-text right">Submit</button>
      </div>
    </div>
  </form>
</div>
