<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img [src]="profilePic">
      </div>
      <a href="#user"><img class="circle" [src]="profilePic"></a>
      <a href="#name"><span class="white-text name">{{($auth)?.first_name}} {{($auth)?.father_name}}</span></a>
      <a href="#email"><span class="white-text email">{{($auth)?.worker_id}}</span></a>
    </div></li>
    <li><a href="#" style="padding-right: 0px"><i class="material-icons">mail_outline</i>{{ ($auth)?.email }}</a></li>
    <li><a href="#"><i class="material-icons">phone</i>{{ ($auth)?.phone }}</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"></a></li>
    <li><a class="waves-effect" routerLink="/settings"><i class="material-icons">settings</i>Setings</a></li>
    <li><a class="waves-effect" (click)="logout()"><i class="material-icons">launch</i>Log out</a></li>
  </ul>