.background>img{
    position: relative; 
    width: 300px; 
    filter: blur(5px); 
    -webkit-filter: blur(5px);   
}
.user-view .white-text{
    font-size: 1.1em;
    text-shadow: 0 0 11px #000, 0 0 15px #000;
}