#search{
    margin-left: 5%;
    margin-right: 5%;
    .mat-input-element{
        font-size: 1.2em;
        font-weight: 450; 
    }
    td{
        padding-top:0px;
        padding-bottom:0px;
    }
}
.mat-form-field-wrapper {
    margin-bottom: 0px;padding-bottom: 0px; 
}
#tableMessage{
    padding: 5%;
    text-align: center; 
    font-size: 1.2em; 
}
.profile-pic{
    width: 40px; 
    padding: 0px; 
}