<section class="container" style="margin:auto" id="primary-profile"> 
    <div class="row center-align" styel="margin-bottom" >
        <div class="col m6 s12 align-right" id="primary-profile-pic">
            <img [src]="'http://clinic.com/img/'+(user)?.profile_pic" alt="" class="profile-pic circle responsive-img"> 
        </div>
        <div class="col m6 s12 align-left" id="primary-profile-text" >
            <div>
                <strong> {{(user)?.first_name +" "+ (user)?.father_name +" "+ (user)?.grand_father_name | uppercase }}</strong>
                <span class="secondery" style="display: block">{{ (((user)?.gender) == 'male')?'He ':'She ' +' workes as '+ (user)?.role }}</span>
                <span class="small secondery" style="display:block">Woeker id {{ (user)?.worker_id }}</span>   
            </div>              
        </div>
        
    </div>
    <div class="row" id="personal-profile">

        <div class="col m6 s12">
            <div>
                
                <div><span class="material-icons">mail_outline</span></div><div><span>{{(user)?.email}}</span></div> 
            </div>
            
        </div>
        <div class="col m6 s12"> 
            <div>
                
                    <div><span class="material-icons">phone</span> </div><div><span>{{(user)?.phone}}</span></div>
            </div>
            
        </div>
    </div>
</section>

