.mat-list-item{
  p{
        margin-left: 7%;
    }  
}
.mat-card{
    padding:0px;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 15%; 
}
.mat-list-item{padding-left: 5%;}
.mat-list-item:hover{
    background-color: darken(#ddd,0.9); 
}
